.heading-lg {
  font-family: 'GeomanistBold';
  font-size: 2.8rem;
  line-height: 1.43;
}

.heading-md {
  font-family: 'GeomanistBold';
  font-size: 1.8rem;
  line-height: 1.43;
}

.heading-s {
  font-family: 'GeomanistBold';
  font-size: 1.2rem;
  line-height: 1.43;
}

.heading-xs {
  font-family: 'GeomanistBold';
  font-size: 0.9rem;
  line-height: 1.56;
}

.text-lg {
  font-family: 'GeomanistLight';
  font-size: 1.41rem;
  line-height: 1.43;
}

.text-md {
  font-family: 'GeomanistRegular';
  font-size: 0.95rem;
  line-height: 1.56;
}

.text-s {
  font-family: 'GeomanistLight';
  font-size: 0.9rem;
  line-height: 1.56;
}

.text-xs {
  font-family: 'GeomanistRegular';
  font-size: 0.8rem;
  line-height: 2;
}

.bold {
  font-family: 'GeomanistBold';
}
.light {
  font-family: 'GeomanistLight';
}