.module-placeholder-pay-bills {
  .box-click {
    cursor: pointer;
    padding: 0.3rem 0;
    transition: all 0.2s ease-in-out;
    border-radius: 30px;


    &.active {
      background: $purple-blue-gradient;
      color: #fff;
    }
  }
}
.number-wrapper {
  text-align: center;
  padding: 1.8rem 0;
}

.big-number {
  font-size: 3rem;
  color: #3dc4f2;
}


/***********************************************************************************************************************
						Media Queries Desktop 1320
***********************************************************************************************************************/
@media (max-width: 1320px) {}

/***********************************************************************************************************************
					  	Media Queries Tablet 1024
***********************************************************************************************************************/
@media (max-width: 1024px) {}

/***********************************************************************************************************************
					  	Media Queries Tablet 960
***********************************************************************************************************************/
@media (max-width: 960px) {}

/***********************************************************************************************************************
						Media Queries Desktop 768
***********************************************************************************************************************/
@media (max-width: 768px) {
  .module-placeholder-pay-bills {
    .box-module .container {
      padding-top: 6rem;
    }
  }
}

/***********************************************************************************************************************
						Media Queries Desktop 600
***********************************************************************************************************************/
@media (max-width: 600px) {}

/***********************************************************************************************************************
						Media Queries Desktop 480
***********************************************************************************************************************/
@media (max-width: 480px) {}

/***********************************************************************************************************************
						Media Queries Desktop 380
***********************************************************************************************************************/
@media (max-width: 380px) {}

/***********************************************************************************************************************
						Media Queries Desktop 320
***********************************************************************************************************************/
@media (max-width: 320px) {}